div.map-navigation {
	max-width: 1200px;
	margin: 0 auto;
}

div.map-navigation iframe {
	height: 300px;
	width: inherit;
}

div.map-navigation h2, p {
	text-align: center;
}

div.map-navigation h2 {
	font-family: 'montserratsemibold';
	font-size: 1.285em;
	margin-bottom: 22px;
	color: #333333;
	
}

div.map-navigation p {
	font-family: 'loraregular';
	margin-bottom: 86px;
	color: #808080;
	font-size: 0.785em;
	
}

div.map-navigation img { 
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 350px;
	width: 500px;
	height: inherit;
	width: 250px ;
	top: 263px;
	left: 450px;
	
}

@media (max-width: 575.98px) {
	div.map-navigation img { 
		display: inline-block;
		position: absolute;
		top: 200px;
		left: 70px;
		width: 250px;
		height: inherit;
	}

	div.map-navigation {
		width: 100%;
	}
	div.map-navigation iframe {
		height: 300px;
		width: 100%;
	}
		div.map-navigation img {
		width: 180px ;
		top: 270px;
		left: 120px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	div.map-navigation iframe {
		height: 300px;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	div.map-navigation iframe {
		height: 300px;
		width: 100%;
	}
		div.map-navigation img {
		width: 250px ;
		top: 263px;
		left: 280px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	div.map-navigation iframe {
		height: 300px;
		width: 100%;
	}
		div.map-navigation img {
		width: 250px ;
		top: 260px;
		left: 400px;
	}

}